.container-1{
border: 1px solid black;
width: 75%;
margin: 0 auto;
text-align: center;
}

.flex-box-container {
    display: flex;
    border: 1px solid blue;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}
.flex-box-container div{
    padding: 10px;
    border: 1px solid black;
    align-items: center;
    }
    .flex-box-container .btn-danger:hover{
        background-color : pink;
    }
    .flex-box-container .btn-primary:hover{
        background-color : gold;    }